.TitleWrapper{
  padding-top: 110px;
  width: 100%;
}

.Title{
  margin: auto;
  text-align: center;
  letter-spacing: 10px;
  color : #87001d;
font-family: 'Roboto Mono', monospace;
font-size: 12px;
}

.PlayerWrapper{
  margin-top: 80px;
}

.Player{
  text-align: center;
  width: 90%;
  margin:auto;
}


.CreditsWrapper{
  padding-top: 30px;
  width: 100%;
}

.Credits{
  margin: auto;
  text-align: center;
  letter-spacing: 2px;
font-family: 'Roboto Mono', monospace;
font-size: 12px;
}
